name: release build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            
          - os: ubuntu-latest
            goos: linux
            goarch: arm64
            
          - os: macos-latest
            goos: darwin
            goarch: amd64
            
          - os: macos-latest
            goos: darwin
            goarch: arm64
            
          - os: windows-latest
            goos: windows
            goarch: amd64
            
          - os: windows-latest  
            goos: windows
            goarch: arm64
            
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Build hut
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o hut${{ matrix.goos == 'windows' && '.exe' || '' }} .

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/*/*"
          token: ${{ secrets.GH_TOKEN}}
